

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #333;
}

.main-div{
  display: flex;
  flex-wrap:wrap;
}

.container {
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card-wrapper {
  width: 400px;
  height: 500px;
  position: relative;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
  
  .card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: .5s;
  }
  
  &:hover img {
    opacity: 0.4;
    transition: .5s;
  }
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all .9s;
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;

  h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
     
    .job-title-1 {
        font-size: 1rem;
        line-height: 2.5rem;
        color: #333;
        font-weight: 300;
        margin-left: 0px;
    }

    .job-title-2 {
        font-size: 1rem;
        line-height: 2.5rem;
        color: #333;
        font-weight: 300;
        margin-left: 60px;
    }
  }
}

.profile-two .social-icons li a {
  border-radius: 50%;
}

.card:hover .jane {
  bottom: 0;
  left: 0;
  transition-delay: 0.5s;
  opacity: 1;
}

.first-card{
  margin-left: 100px;
  background-color: #efe4e4;
  max-width: 30rem;
  height: 200px;
  margin-top: 150px;
  border-radius: 10px;
  
}

@media screen and (max-width: 850px) {
  .first-card {
      margin-left: auto;
      margin-right: auto;
      margin-top: 80px;
  }
}

.card-wrapper2{
  width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-tag{
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.3em;
}

.card-wrapper2 .img-div{
  max-width: 10rem;
  max-height: 10rem;
  /* margin-left: 20px; */
}

.img-div img{
  border-radius: 20px;
}
